@media (min-width:601px){
    .d2-col.m1{
        width:8.33333%
    }
    .d2-col.m2{
        width:16.66666%
    }
    .d2-col.m3,.d2-quarter{
        width:24.99999%
    }
    .d2-col.m4,.d2-third{
        width:33.33333%
    }
    .d2-col.m5{
        width:41.66666%
    }
    .d2-col.m6,.d2-half{
        width:49.99999%
    }
    .d2-col.m7{
        width:58.33333%
    }
    .d2-col.m8,.d2-twothird{
        width:66.66666%
    }
    .d2-col.m9,.d2-threequarter{
        width:74.99999%
    }
    .d2-col.m10{
        width:83.33333%
    }
    .d2-col.m11{
        width:91.66666%
    }
    .d2-col.m12{
        width:99.99999%
    }
}
@media (min-width:993px){
    .d2-col.l1{
        width:8.33333%
    }
    .d2-col.l2{
        width:16.66666%
    }
    .d2-col.l3{
        width:24.99999%
    }
    .d2-col.l4{
        width:33.33333%
    }
    .d2-col.l5{
        width:41.66666%
    }
    .d2-col.l6{
        width:49.99999%
    }
    .d2-col.l7{
        width:58.33333%
    }
    .d2-col.l8{
        width:66.66666%
    }
    .d2-col.l9{
        width:74.99999%
    }
    .d2-col.l10{
        width:83.33333%
    }
    .d2-col.l11{
        width:91.66666%
    }
    .d2-col.l12{
        width:99.99999%
    }
}
@media (max-width:1205px){
    .d2-auto{
        max-width:95%
    }
}
@media (max-width:600px){
    .d2-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .d2-modal{
        padding-top:30px
    }
    .d2-dropdown-hover.d2-mobile .d2-dropdown-content,.d2-dropdown-click.d2-mobile .d2-dropdown-content{
        position:relative
    }	
    .d2-hide-small{
        display:none!important
    }
    .d2-mobile{
        display:block;width:100%!important
    }
    .d2-bar-item.d2-mobile,.d2-dropdown-hover.d2-mobile,.d2-dropdown-click.d2-mobile{
        text-align:center
    }
    .d2-dropdown-hover.d2-mobile,.d2-dropdown-hover.d2-mobile .d2-btn,.d2-dropdown-hover.d2-mobile .d2-button,.d2-dropdown-click.d2-mobile,.d2-dropdown-click.d2-mobile .d2-btn,.d2-dropdown-click.d2-mobile .d2-button{
        width:100%
    }
}
@media (max-width:768px){
    .d2-modal-content{
        width:500px
    }
    .d2-modal{
        padding-top:50px
    }
}
@media (min-width:993px){
    .d2-modal-content{
        width:900px
    }
    .d2-hide-large{
        display:none!important
    }
    .d2-sidebar.d2-collapse{
        display:block!important
    }
}
@media (max-width:992px) and (min-width:601px){
    .d2-hide-medium{
        display:none!important
    }
}
@media (max-width:992px){
    .d2-sidebar.d2-collapse{
        display:none
    }
    .d2-main{
        margin-left:0!important;
        margin-right:0!important
    }
    .d2-auto{
        max-width:100%
    }
}